#admin-panel {
    margin-top: 50px;
}

.background-dark {
    background-color: #293a46;
    color: #fff;
}

.admin-article-item {
    padding-left: 0;
    background-color: #1a2834;
    border-color: #131c26;
}

.admin-article-item .thumbnail {
    padding: 0;
    margin: 0;
    border: none;
}

.admin-article-item-title {
    display: block;
    margin: 1% 0;
    width: auto;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

.admin-article-item-title:hover {
    text-decoration: none;
}

.btn-add-article {
    margin-bottom: 12px;
}